* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

.meme-slider-wrapper {
    background-color: pink;
    padding: 30px 40px 120px;
    display: flex;
    justify-content: center;
}

.meme-slider-smaller-wrapper {
    width: 70%;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}

.meme-slider {
    width: 100%;
    overflow: hidden;
}

.meme-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.meme-slider-slide {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background-color: black;
    padding: 30px;
    display: flex;
}

.meme-slider-slide img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    margin: 0 auto;
}

.meme-phrases {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding-top: 20px;
}

.meme-slider-phrase {
    color: royalblue;
    font-family: Georgia, sans-serif;
    font-size: large;
    font-weight: bold;
    flex-shrink: 0;
    width: 100%;

}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .meme-slides {
    transform: translateX(0%);
}

#slide2:checked ~ .meme-slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .meme-slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .meme-slides {
    transform: translateX(-300%);
}

#slide5:checked ~ .meme-slides {
    transform: translateX(-400%);
}

#slide1:checked ~ .meme-phrases {
    transform: translateX(0%);
}

#slide2:checked ~ .meme-phrases {
    transform: translateX(-100%);
}

#slide3:checked ~ .meme-phrases {
    transform: translateX(-200%);
}

#slide4:checked ~ .meme-phrases {
    transform: translateX(-300%);
}

#slide5:checked ~ .meme-phrases {
    transform: translateX(-400%);
}

.indicators {
    text-align: right;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

input#slide1:checked ~ .indicators label[for="slide1"],
input#slide2:checked ~ .indicators label[for="slide2"],
input#slide3:checked ~ .indicators label[for="slide3"],
input#slide4:checked ~ .indicators label[for="slide4"],
input#slide5:checked ~ .indicators label[for="slide5"]{
    background-color: #333;
}
